<div data-options="dxView : { name: 'About', title: 'About', pane: 'master' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
            <p style="padding: 5px">
                In photography, exposure value (EV) is a number that represents a combination of a camera's shutter speed and f-number, such that all combinations that yield the same exposure have the same EV value (for any fixed scene luminance). Exposure value is also used to indicate an interval on the photographic exposure scale, with 1 EV corresponding to a standard power-of-2 exposure step, commonly referred to as a stop.
            </p>
            <p style="padding: 5px">
                Although all camera settings with the same EV nominally give the same exposure, they do not necessarily give the same picture. The f-number (relative aperture) determines the depth of field, and the shutter speed (exposure time) determines the amount of motion blur, as illustrated by the two images at the right (and at long exposure times, as a second-order effect, the light-sensitive medium may exhibit reciprocity failure, which is a change of light sensitivity dependent on the irradiance at the film).
            </p>
        </div>
    </div>
</div>