<div data-options="dxView : { name: 'Help', title: 'Help', pane: 'master' } ">
    <div data-options="dxContent : { targetPlaceholder: 'content' } ">
        <div data-bind="dxScrollView: {}">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Sunny 16 rule
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <blockquote>
                                <p style="padding: 5px">
                                    In photography, the sunny 16 rule (also known as the sunny f/16 rule) is a method of estimating correct daylight exposures without a light meter. (For lunar photography there is a similar rule known as the looney 11 rule.) Apart from the obvious advantage of independence from a light meter, the sunny 16 rule can also aid in achieving correct exposure of difficult subjects. As the rule is based on incident light, rather than reflected light as with most camera light meters, very bright or very dark subjects are compensated for. The rule serves as a mnemonic for the camera settings obtained on a sunny day using the exposure value (EV) system.
                                </p>
                                <p style="padding: 5px">
                                    The basic rule is, <cite>"On a sunny day set aperture to f/16 and shutter speed to the [reciprocal of the] ISO film speed [or ISO setting] for a subject in direct sunlight."</cite>
                                </p>
                                <p style="padding: 5px">
                                    For example:
                                    <ul class="list-unstyled">
                                        <li>
                                            On a sunny day and with ISO 100 film / setting in the camera, one sets the aperture to f/16 and the shutter speed to
                                            1/100 or 1/125 second (on some cameras 1/125 second is the available setting nearest to 1/100 second).
                                        </li>
                                        <li>
                                            On a sunny day with ISO 200 film / setting and aperture at f/16, set shutter speed to
                                            1/200 or 1/250.
                                        </li>
                                        <li>
                                            On a sunny day with ISO 400 film / setting and aperture at f/16, set shutter speed to
                                            1/400 or 1/500.
                                        </li>
                                    </ul>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Looney 11 rule
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <blockquote>
                                <p style="padding: 5px">
                                    In lunar photography, the Looney 11 rule (also known as the Looney f/11 rule) is a method of estimating correct exposures without a light meter. For daylight photography, there is a similar rule called the Sunny 16 rule.
                                </p>
                                <p style="padding: 5px">
                                    The basic rule is, <cite>"For astronomical photos of the moon's surface, set aperture to f/11 and shutter speed to the [reciprocal of the] ISO film speed [or ISO setting]."</cite>
                                </p>
                                <p style="padding: 5px">
                                    For example:
                                    <ul class="list-unstyled">
                                        <li>
                                            With ISO 100 film / setting in the camera, one sets the aperture to f/11 and the shutter speed to 1/100 or 1/125 second (on some cameras 1/125 second is the available setting nearest to 1/100 second).
                                        </li>
                                        <li>
                                            With ISO 200 film / setting and aperture at f/11, set shutter speed to 1/200 or 1/250.
                                        </li>
                                        <li>
                                            With ISO 400 film / setting and aperture at f/11, set shutter speed to 1/400 or 1/500.
                                        </li>
                                    </ul>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Exposure value
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <blockquote>
                                <p style="padding: 5px">
                                    In photography, exposure value (EV) is a number that represents a combination of a camera's shutter speed and f-number, such that all combinations that yield the same exposure have the same EV value (for any fixed scene luminance). Exposure value is also used to indicate an interval on the photographic exposure scale, with 1 EV corresponding to a standard power-of-2 exposure step, commonly referred to as a stop.
                                </p>
                                <p style="padding: 5px">
                                    Although all camera settings with the same EV nominally give the same exposure, they do not necessarily give the same picture. The f-number (relative aperture) determines the depth of field, and the shutter speed (exposure time) determines the amount of motion blur, as illustrated by the two images at the right (and at long exposure times, as a second-order effect, the light-sensitive medium may exhibit reciprocity failure, which is a change of light sensitivity dependent on the irradiance at the film).
                                </p>
                                <p style="padding: 5px">
                                    The recommended f-number and exposure time for given lighting conditions and ISO speed are given by the exposure equation

                                    <sup>N<sup>2</sup></sup>/<sub>t</sub> = <sup>LS</sup>/<sub>K</sub>,
                                    where
                                    <ul class="list-unstyled">
                                        <li>
                                            N is the relative aperture (f-number)
                                        </li>
                                        <li>
                                            t is the exposure time (“shutter speed”) in seconds[2]
                                        </li>
                                        <li>
                                            L is the average scene luminance
                                        </li>
                                        <li>
                                            S is the ISO arithmetic speed
                                        </li>
                                        <li>
                                            K is the reflected-light meter calibration constant
                                        </li>
                                    </ul>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>