<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="64189RBADESIGNLLC.EvC" Version="1.0.0.0" Publisher="CN=AF4638CB-3520-4C8D-AF2C-2103D90E5744" />
  <Properties>
    <DisplayName>EvC</DisplayName>
    <PublisherDisplayName>RBA DESIGN LLC</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="EvC.Win8" StartPage="index.html">
      <VisualElements DisplayName="EvC" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="In photography, exposure value (EV) is a number that represents a combination of a camera's shutter speed and f-number, such that all combinations that yield the same exposure have the same EV value (for any fixed scene luminance). Exposure value is also used to indicate an interval on the photographic exposure scale, with 1 EV corresponding to a standard power-of-2 exposure step, commonly referred to as a stop." ForegroundText="light" BackgroundColor="#cccccc">
        <DefaultTile ShowName="logoOnly" WideLogo="images\Wide310x150Logo.png" />
        <SplashScreen Image="images\splashscreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>